/* Estilos generales */
html{
	user-select: none;
	background-color: var(--htmlbg);
	color: var(--htmlcolor);
	font-family: "Segoe UI", Tahoma,sans-serif;
}

a{
	color: rgb(10, 226, 255);
	text-decoration: none;
	&:hover{
		color: rgb(10, 226, 255);
	}
	&:active{
		color: rgb(10, 255, 222);
	}
}


/* ****** */
/* Header */
/* ****** */

header{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100px;
	background-color: var(--primary);
}

.header-title{
	display: flex;
	align-items: center;
	figure{
		margin: 20px;
		img{
			width: 40px;
			height: 40px;
		}
		display: inline-block;
	}

	h1{
		display: inline-block;
	}
}

.header-menu{
	display: inline-block;
	justify-self: flex-end;
	position: absolute;
	top: 22px;
    right: 65px;
	button{
		display: inline-block;
		background-color: skyblue;
		padding-bottom: 22px;
		padding-top: 10px;
		font-size: 50px;
		width: auto;
		line-height: 10px;
	}
}


/* **** */
/* Main */
/* **** */
main{
	margin-top: 100px;
	column-count: 2;
	column-gap: 20px;
	padding: 50px;
}


.table-container{
	padding: 20px;
	background-color: rgba($color: black, $alpha: .1);
	width: 100%;
	box-sizing: border-box;
	break-inside: avoid-column;
	margin-top: 20px;
	margin-bottom: 20px;
	&:first-of-type{
		margin-top: 0px;
	}
}

table{
	width: 100%;
	thead{
		font-size: 30px;
	}
	tbody{
	}
	td{
		padding:5px
	}
}

.table-info-command{
	width: 30%;
}


/* ****** */
/* Footer */
/* ****** */
footer{
	padding: 20px;
	background-color: var(--primary);
	p{
		text-align: center;
		margin: 5px;
	}
}

/* ***** */
/* MENU */
/* ***** */

$menu-padding:30px;

#menu-priorization{
	background-color: rgba($color: black, $alpha: .4);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: grid;
	place-items: center;
}

.menu-container{
	min-width: 300px;
	background-color: #414141;
	color: #eee;
}

.menu-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	background-color: var(--primary);
	padding: $menu-padding;
	box-sizing: border-box;
}

.menu-title-text{
	font-size: 30px;
}

.menu-close{

}

#menu-close-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	font-size: 30px;
	color: white;
	background-color: rgb(196, 41, 41);
	span{
		transform: translateY(-4px);
	}
	&:hover{
		background-color: rgb(196, 41, 41);
	}
	&:active{
		background-color: rgb(196, 41, 41);
		span{
			transform: translateY(-3px);
		}
	}
}

.menu-share-options{
	padding: $menu-padding;
	box-sizing: border-box;
	display: block;
	margin: 0;
}

.share-item{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.share-ico{

}

.share-text{
	
}

.settings-options{
	padding: $menu-padding;
	box-sizing: border-box;
	display: block;
	margin: 0;
}

.settings{
	display: grid;
	grid-template-columns: 30px 1fr 50px 70px 50px;
	grid-auto-rows: 50px;
	align-items: center;
}

.language-options{
	padding: $menu-padding;
	box-sizing: border-box;
	display: block;
	margin: 0;
}

.language-title{

}

.language-items{
	display: grid;
	grid-template-columns: 100px 1fr 20px;
}

.lang-title{
	
}