/* ******* */
/* HEADER */
/* ******* */
.header-title{
	figure{
		margin: 0;
	}

	h1{
		font-size: 25px;
	}
}

.header-menu{
	top: 22px;
	right: 4px;
	button{
		width: 40px;
		height: 40px;
		span{
			font-size: 40px;
		}
	}
}


/* **** */
/* MAIN */
/* **** */
main{
	margin-top: 100px;
	column-count: 1;
	column-gap: 20px;
	padding: 20px;
}



table{
	thead{
		font-size: 23px;
	}
}

