/* ******* */
/* HEADER */
/* ******* */
.header-title{
	figure{
		margin: 0;
	}

	h1{
		font-size: 25px;
	}
}

.header-menu{
	right: 4px;
}

#openMenu{
	font-size: 45px;
	padding-bottom: 20px;
	padding-top: 9px;
}

/* **** */
/* MAIN */
/* **** */
main{
	margin-top: 100px;
	column-count: 1;
	column-gap: 20px;
	padding: 20px;
}

table{
	thead{
		font-size: 23px;
	}
}

