/* General styles */
html{
	user-select: none;
	background-color: var(--htmlbg);
	color: var(--htmlcolor);
	font-family: "Segoe UI", Tahoma,sans-serif;
}

a{
	color: rgb(10, 226, 255);
	text-decoration: none;
	&:hover{
		color: rgb(10, 226, 255);
	}
	&:active{
		color: rgb(10, 255, 222);
	}
}

header,footer,.menu-title{
	background-color: var(--primary);
	background-image: url("/assets/banner3.webp");
	background-repeat: repeat-x;
	background-size: 100vw;
	background-position: 2px -377px;
	background-blend-mode: soft-light;
}

/* ****** */
/* Header */
/* ****** */

header{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 80px;
	z-index: 10;
}

.header-title{
	display: flex;
	align-items: center;
	*{
	}
	figure{
		margin: 20px;
		img{
			width: 40px;
			height: 40px;
		}
		display: inline-block;
	}

	h1{
		display: inline-block;
		color: #eee;
	}
}

.header-menu{
	display: inline-block;
	justify-self: flex-end;
	position: absolute;
	top: 16px;
    right: 65px;
	button{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: skyblue;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		margin: 0;
		span{
			margin: 0;
			padding: 0;
			font-size: 50px;
			transform: translateY(-6px);
		}
		&:hover{
			background-color: rgb(117, 208, 245);
		}
		&:active{
			background-color: rgb(104, 184, 216);
			transform: translateY(1px);
		}
	}
}


/* **** */
/* Main */
/* **** */
main{
	margin-top: 100px;
	column-count: 2;
	column-gap: 20px;
	padding: 50px;
}


.table-container{
	padding: 20px;
	background-color: var(--bgTableContainer);
	width: 100%;
	box-sizing: border-box;
	break-inside: avoid-column;
	margin-top: 20px;
	margin-bottom: 20px;
	&:first-of-type{
		margin-top: 0px;
	}
}

table{
	width: 100%;
	thead{
		font-size: 30px;
		color:var(--colorTableTitle);
	}
	tbody{
	}
	tr{
		td{
			padding:5px;
			padding-top: 10px;
			*{
			}
			&:first-of-type{
				font-weight: 700;
				&[colspan]{
					font-weight: unset;
					padding-top: 20px;
					padding-bottom: 20px;
				}
			}
		}
		&:hover{
			background-color: var(--hoverTableRow);
		}
	}
}

.table-info-command{
	width: 30%;
}


/* ****** */
/* Footer */
/* ****** */
footer{
	padding: 20px;
	background-color: var(--primary);
	p{
		text-align: center;
		margin: 5px;
		color: #eee;
		&:active{
			transform: scale3d(0.8, 0.8, 1.5);
		}
	}
}

/* ***** */
/* MENU */
/* ***** */

$menu-padding:30px;

.menu-share-options,.settings-options,.language-options{
	padding-left: $menu-padding;
	padding-right: $menu-padding;
	padding-top:15px;
	padding-bottom:15px;
}

#menu-priorization{
	background-color: rgba($color: black, $alpha: .4);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	/* display: grid; */
	display: none;
	place-items: center;
	z-index: 100;
}

.menu-container{
	min-width: 300px;
	background-color: #414141;
	color: #eee;
	border: 1px solid blue;
	position: fixed;
	top: 50px;
	.ms-Icon{
		font-size: 20px;
	}
	*{
	}
}

.menu-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	background-color: var(--primary);
	padding: $menu-padding;
	box-sizing: border-box;
}

.menu-title-text{
	font-size: 30px;
}

.menu-close{

}

#menu-close-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	font-size: 30px;
	color: white;
	background-color: rgb(196, 41, 41);
	span{
		transform: translateY(-4px);
	}
	&:hover{
		background-color: rgb(223, 39, 39);
	}
	&:active{
		background-color: rgb(170, 30, 30);
		span{
			transform: translateY(-3px);
		}
	}
}

.menu-share-options{
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding-top:$menu-padding;
}

.share-item{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 38px;
}

.share-ico{
	margin-right: 10px;
}

.share-text{
	&:active{
		transform: scale3d(0.8, 0.8, 1.5) !important;
	}
}

#share-text-element{
	cursor: pointer;
}

.settings-options{
	box-sizing: border-box;
	display: block;
	margin: 0;
}

.settings{
	display: grid;
	grid-template-columns: 30px 1fr 25px 55px 25px;
	grid-auto-rows: 50px;
	align-items: center;
	text-align: center;
}

.settings-text{
	text-align: left;
	padding-right: 15px;
}

.controls-switch{
	cursor: pointer;
	figure{
		img{
			background-color: gray;
			border-radius: 20px;
			transform: rotateY(180deg);
		}
	}
	&:active{
		transform: scale3d(0.8, 0.8, 1.5);
	}
}

.switch-active{
	figure{
		img{
			background-color: var(--primary);
			transform: rotateY(0deg);
		}
	}
}

.language-options{
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	flex-wrap: wrap;
	padding-bottom:$menu-padding;
}

.language-title{
	width: 100%;
	.ms-Icon{
		margin-right: 10px;
	}
}

.language-items{
	display: grid;
	grid-template-columns: 25px 1fr 30px;
	gap: 15px;
	margin-top: 20px;
}

.flag{
	figure{
		img{
			width: 25px;
		}
	}
}

.lang-title{
	
}

.lang-option{
	display: inline-block;
	width: 12px;
	height: 12px;
	border:5px solid rgb(39, 39, 39);
	border-radius: 50%;
	background-color: grey;
	cursor: pointer;
	&:active{
		transform: scale3d(0.8, 0.8, 1.5);
	}
}

.lang-option-active{
	border:5px solid black;
	border-radius: 50%;
	background-color: var(--primary);
}

@keyframes contributeColor{
	0%{color: rgb(10, 226, 255);}
	20%{color: rgb(96, 183, 255);}
	40%{color: rgb(241, 134, 255);}
	60%{color: rgb(217, 230, 105);}
	80%{color: rgb(79, 235, 113);}
	100%{color: rgb(10, 226, 255);}
}

.contribute{
	padding:5px 10px;
	border-width: 2px;
	border-style: dashed;
	margin-top: 10px;
	color: unset;
}

.contributeAnimated{
	animation: contributeColor 4s linear infinite;
}

.highContrast{
	background-color: #232323;
	color: #d7d70f;
}

[data-text]{
	transition-duration: .2s;
}